RewriteEngine on
RewriteCond %{HTTP_HOST} ^justhomes.co.ke$ [NC,OR]
RewriteCond %{HTTP_HOST} ^justhomes.co.ke$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
<IfModule mod_headers.c>
    Header add Vary "X-Inertia"
</IfModule>